body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}


video {
  width: 100%;
  height: 100%;
  padding: 10px;
}

body {
  text-align: center;
  padding-top: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
}